# Input data:
data/*
!data/.keep
# Keep PDB files in the repo for now: they're small enough
!data/pdb/*.pdb

# Output of scripts:
output/*
!output/.keep

# Environments and metadata:
.venv/*
.micromamba/*
.snakemake/*

# Vendored code:
vendor/*
