# Input data:
01_input/*
!01_input/.keep

# Intermediate output of scripts:
02_intermediate/*
!02_intermediate/.keep

# Final output of scripts:
03_output/*
!03_output/.keep

# Environments and metadata:
.venv/*
.micromamba/*
.snakemake/*

# Vendored code:
vendor/*

# Blender build artefacts:
blender/extension.zip
blender/extension/wheels/*
