# Input data:
01_input/top/*
01_input/traj/*
!01_input/top/*_example_complex.top
!01_input/traj/*_example_10-20ns_100snap.trr

# Intermediate output of scripts:
02_intermediate/*
!02_intermediate/.keep

# Final output of scripts:
03_output/*
!03_output/.keep

# Environments and metadata:
.venv/*
.micromamba/*
.snakemake/*

# Vendored code:
vendor/*

# Blender build artefacts:
blender/extension.zip
blender/extension/wheels/*
